img {
    width: 100%;
    aspect-ratio: 200/279;
}



.card {
    background: #B93038;
    color: white;
    text-shadow: 2px 2px#3A401A; 
    font-weight: bold;
    height: 300px; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 2px rgba(0,0,0,0.25);
    transition: scale 0.2s;
    cursor: pointer;
    padding-bottom: 10px;
}

.card:hover {
    background: #3A401A;
    scale: 1.1;

}