.nav{display:flex; margin-left: 5vw;}
.logo {
    background: #B93038;
    height: 15vw; 
    width: 15vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    transform: rotate(45deg);
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%; 
    background-image: url('../../public/Images/apex.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
    transform: rotate(-45deg);
}


.tab {
    box-sizing: border-box;
    background: #D9D9D9;
    border: 1px solid black;
    height: 7.5vw; 
    width: 20vw;
    min-height: 50px;
    max-height: 75px;
    max-width: 200px;
    position: relative;
    transform: skew(45deg) translateX(-0.5vw);
    color: black;
    margin-left: -2px;
}

.tab-text {
    content: '';
    position: absolute; 
    top: calc(50% - min(2vw,20px));
    left: 50%;
    transform: skew(-45deg) translateX(-50%);
    font-size: min(2vw,20px);
}

.tab-bar {
    box-sizing: border-box;
    content: '';
    position: absolute; 
    background: #ABA1A1;
    border: 1px solid black;
    border-bottom: none;
    width: 100%; 
    height: 1rem; 
    bottom: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-bar-text {
    transform: skew(-45deg) translateX(-50%);
}

.tab-info, .logo {
    cursor: pointer;
}
.tab-info:hover, .tab-info:focus {
    font-weight: bold;
}


/**** MODAL ****/

.modal {
    display: none;
    position: fixed; 
    top:0; 
    left: 0; 
    bottom: 0;
    right:0;
    place-items: center;
    background: rgba(0,0,0,0.5);
}

.modal-body {
    background: white; 
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
}

.modal-body .h2 {
    margin-bottom: 0;
}


@media screen and (max-width: 500px) {
    .tab-text {
        top: 0px;
    }

    .tab-info {
        display: none;
    }
}