.socials-container {
    display: grid; 
    max-height:  50px;
    /* width: 5vw; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin-right: 1rem;
    margin-top: 1rem;

    background: rgba(0,0,0,0.15); 
    padding: 5px; 
    border-radius: 5px;
}

.socials-container img {
    height: 32px; 
    width: 32px;
}

@media screen and (min-width: 1000px) {
    .socials-container {
        margin-right: 50px;
    }
}