
body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}#root {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}



#root::after {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../public/Images/harvester-before.jpg');
  background-size: cover;
  opacity: 0.5;
  z-index: -100;

}